body{
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;


}


#navbar{
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: red;
    background-color: black;
    
}

#rodapé{
    margin: 0;
    padding: 5px;
    text-align: center;
    color: red;
    background-color: black;


}
/* 
#noticias{
    display: flex;
} */

   

.noticia{
    object-fit: cover;
    border-color: white;
    margin: 50px;
    padding: 50px;
    text-align: center;
    display: flex;
}

h3 {
    text-align: center;
    color: black


}
#highbar{
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: red;
    background-color: black;
    


}
#Ben{
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: red;
    background-color: black;
    display: flex;
    

}
#Gud{
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: red;
    background-color: black;
    display: flex;
    

}
h4 {
    text-align: center;
    color: red



}
h5 {
    text-align: center;
    color: red


}
h6 {
    text-align: center;
    color: red


}

p {
    text-align: center;
    color: azure 


}

img {
    margin: 100px ;
    padding: 10px;
    background-color: red;
    border-radius: 1px;
    text-align: center;
}


